@model LFbrokersV2.Models.RecargoCuotas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecargoCuotas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadCuotas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadCuotas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecargoFinanciero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecargoFinanciero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AseguradoraNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AseguradoraNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
