@model IEnumerable<LFbrokersV2.Models.Poliza>

@{
    ViewData["Title"] = "Polizas a cotizar";
}

<h2>Polizas a cotizar</h2>

<p>
    <!--<a asp-action="Create">Create New</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Provincia
            </th>
            <th>
                Localidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       @if (item.Estado == "A Cotizar"){ 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNavigation.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNavigation.CodigoPostalNavigation.LocalidadNavigation.ProvinciaNavigation.Provincia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNavigation.CodigoPostalNavigation.LocalidadNavigation.Localidad1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Cotizar</a>
                <!-- <a asp-action="Details" asp-route-id="@item.Id">Details</a>| -->
                <!-- <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>| -->
            </td>
        </tr>
        }
        
}
    </tbody>
</table>
