@model LFbrokersV2.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RamoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RamoNavigation.Ramo1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
