@model LFbrokersV2.Models.LiquidacionPolizaCuota

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LiquidacionPolizaCuota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroCuota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NroCuota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiquidacionAseguradoraNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiquidacionAseguradoraNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PolizaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PolizaNavigation.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
