@model LFbrokersV2.Models.OpcionesCotizacion

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OpcionesCotizacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimaBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaBase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SumaAsegurada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SumaAsegurada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecargoPrima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecargoPrima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComisionPrima)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComisionPrima)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaPoliza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaPoliza)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PremioTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PremioTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PremioCuota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PremioCuota)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Condicion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condicion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aseguradora)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aseguradora)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpcionElegida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpcionElegida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PolizaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PolizaNavigation.Estado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
